.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
}

.App-header {
  background-color: #282c34;
  height: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.Container {
  display: flex;
  width: 100%;
  height: 100%;
}

.Pessoas {
  display: flex;
  height: 100%;
  width: 50%;
  background-color: crimson;

  justify-content: center;
}

.Produtos {
  display: flex;
  height: 100%;
  width: 50%;
  background-color: #61dafb;
}

form {
  width: 600px;
  height: 800px;
  border: solid 1px;
  border-radius: 20px;
  margin-top: 60px;

  align-items: flex-end;
}

.Cadastro-pessoas {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.Cadastro-pessoas label {
  margin-top: 10px;
}

#inputSubmit {
  margin-top: 20px;
}